body {
  box-sizing: border-box;
  margin-top: 51px;
  line-height: 1.3;
}

h3, p {
  margin-bottom: 20px;
}

header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #cecece;
}

.container {
  width: 970px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

header .container {
height: 50px;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

li {
  padding: 5px;
}

main, aside {
  height: 500px;
  width: 970px;
  border: 1px solid black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

main {
  flex-basis: 70%;
}

.btn {
  background-color: tomato;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

aside {
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

a {
  text-decoration: none;
}

footer img {
  max-height: 30px;
}

footer ul {
  display: flex;
  /*align-items: center;
  text-align: center;*/
  height: 60px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
}

footer a {
  flex-grow:1;
  display: flex;
  justify-content: center;
  align-items: center;    
}

footer: hover {
  background-color: rgba(00002);
}