* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
	font-family: "Trebuchet MS","Lucida Grande",Tahoma,sans-serif;
	font-style: normal;
	font-weight: 500;
	margin-top: 50px;
}

h1, h2, h3 {
	font-family: Verdana,Arial,sans-serif;
}

h1 {
	font-size: 36px;
	line-height: 1.2;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
h2 {
	font-size: 21px;
	line-height: 1.2;
}
p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #3300cc;

}

blockquote {
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-size: 13px;
	line-height: 18px;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

/*navbar*/

#header {
	position: fixed;
	height: 50px;
	top: 0;
	left: 0;
	background-color: white;
	width: 100%;
	z-index: 999;
}

#header-title {
	font-family: Impact,Arial,"sans serif";
	color: blue;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	margin-bottom: 0px;
	font-weight: 700;
}

#header-nav {
	float: right;
}

#header-nav li {
	display: inline-block;
	vertical-align: top;
	
}

#header-nav li a {
	display: block;
	padding: 5px;
}
#header-nav li a:hover {
	background-color: rgba(153, 204, 255, .5);
}


/*top section styling*/

#top {
	font-family: 'comic sans ms', Helvetica, Arial, sans-serif;
	text-align: center;
	background-color: #cecece;
	padding-top: 100px;
	padding-bottom: 100px;
	background: url('../images/handstand.jpg') no-repeat center center;
	background-position: center;
	background-size: cover;
}


#top h1 {
	color: #99ff33;
	font-weight: 900;
}

#top h2 {
	color: white;
	font-weight: 400;
}

/*middle section*/

#books-img {
	float: left;
}


/*universal*/

.skinny {
	font-weight: 100;
	color: #fefefe;
}

.container {
	width: 970px;
	margin: 0 auto;
}

/*bottom section*/

#bottom {
	background-color: #ffe44e;
	text-align: center;
}


#bottom h2 {
	font-size: 32px;
	font-weight: 600;
}

#bottom h3 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.one-half {
	background-color: #fefefe;
	width: 48%;
	float: left;
	padding: 30px 20px;
	margin: 1%;
	display: inline-block;
	vertical-align: top;
	border: 2px solid #ffff00;
}

#bottom img {
	max-height: 150px;
	border-radius: 10px;
}

.btn {
  background-color: #92e9ff;
  border: 1px solid black;
  color: #b4155d;
  padding: 5px 10px;
  border-radius: 5px;
}


.btn-hover{
	background-color: 
}

/*members*/

#members {
	padding top: 50px;
}

#members article {
	padding-top: 30px;
	width: 25%;
	max-width: 100%;
	border: 1px solid e9e9e9;
	border-radius:5px;
}

#members article img {
	max-width: 100%;
	border-radius-top-right: 5px;
	border-radius-top-left:5px;
}
#members {
	 width: 970px;
	 margin: 0 auto;
	 display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	 justify-content: space-between;
	 align-item: center;
	 height: 51px;
}

#mtop {
	 width: 970px;
	 margin: 0 auto;
	 display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	 justify-content: space-between;
	 align-item: center;
	 height: 51px;
}

/*clearfix*/
.row:before,
.row:after, .clearfix:before, .clearfix:after {
    content: "";
    display: table;
} 
.row:after, .clearfix:after {
    clear: both;
}
.row, .clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 740px;
	}

	header {
		font-size: 14px;
	}
	#header-nav li a{
		padding: 18px 15px;
	}
}

@media (max-width: 767px) {

	.container {
		width: 100%;
		padding-left: 5PX;
		padding-right: 5PX;
	}

	header-nav {
		float: none;
		clear: left;
		font-size: 12px;
	}

	header {
		height: 70px;
	}

	header-title {
		float: none;
		text-align: center;
	}

	header-title li a {
		padding: 12px;
	}
	
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 15px;
	}

	#top fieldset {
		width: 95%;
	}

	.one-half {
		width: 98%;
	}
}
